body {
  background-color: #E96E4E;
  cursor: auto;
}

/* div {
  border: 1px solid black;
  box-sizing: border-box;
} */
video#myscreen {
  display: none;
}

video#myaudio {
  display: none;
}

video#myvideo {
  display: none;
  margin-right: 1%;
  width: 30%;
  float: right;
  margin-top: 15px;
}

#remoteAudio {
  position: absolute;
  left: 30px;
  top: 70px;
}

#remoteVideo {
  margin-top: 15px;
  width: 68%;
}

div#mediadiv {
  clear: both;
}

#remoteScreen {
  margin-top: 15px;
  cursor: auto;
  width: calc(144% - 10px);
}

#chatbox {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  font-size: 25px;
  display: flex;
}

#send_button {
  margin-right: 5px;
  margin-bottom: 7px;
  /* float: right; */
  /* order: 2; */
}

#message {
  border-radius: 20px;
  font-size: 22px;
  flex: 1;
  /* order: 1; */
}

#messages {
  vertical-align: top;
  top: 86px;
  overflow: auto;
  font-size: 25px;
  margin: 10px 0 0 0;
  clear: both;
}

.myMessages {
  color: white;
  background-color: #850E33;
  text-align: right;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
  padding: 3px 15px;
  border-radius: 20px;
  box-shadow: -1px 2px 1px black;
}

.otherMessages {
  text-align: left;
  padding: 3px 15px;
  background-color: #E96E4E;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  margin-left: 5px;
  color: black;
  border: 1px solid #850E33;
  box-shadow: 1px 1px 1px black;
}

.parent {
  width: 100%;
  height: 100%;
  /* background-color: grey; */
  clear: both;
}

.left {
  width: 70%;
  float: left;
}

.right {
  float: right;
  width: 30%;
  height: 100%;
  background: #ff7f52;
  border-radius: 20px;
  box-shadow: -2px 4px 8px black;
}

.buttons {
  background-color: #850E33;
  border: 2px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 2px 4px 4px black;
}

.buttons:disabled,
.buttons[disabled] {
  /* border: 1px solid #999999; */
  background-color: #cccccc;
  color: #666666;
}

#screen_button {
  display: none;
}

#audio_button {
  display: none;
}

#video_button {
  display: none;
}

#close_button {
  display: none;
}

#answer_button {
  display: none;
}

#mouse {
  position: relative;
  top: 200px;
  left: 500px;
}

#start_button {
  display: none;
}

#stop_button {
  display: none;
}