body {
  /* background-color: #E96E4E; */
  background: #fd746c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fd746c, #ff9068);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fd746c, #ff9068);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: auto;
}

/* div {
  border: 1px solid black;
  box-sizing: border-box;
} */
video#myscreen {
  display: none;
}

video#myaudio {
  display: none;
}

video#myvideo {
  display: none;
  /* margin-right: 1%; */
  margin-left: 53.4%;
  width: 15%;
  /* float: right; */
  margin-top: 15px;
  /* box-shadow: -1px 1px 5px #f94242; */
  position: absolute;
  border: 1px solid black;
  border-radius: 20px;
}

#remoteAudio {
  position: absolute;
  left: 30px;
  top: 70px;
}

#remoteVideo {
  margin-top: 15px;
  width: 99%;
  box-shadow: -1px 1px 5px #f94242;
  border-radius: 20px;
}

div#mediadiv {
  clear: both;
}

#remoteScreen {
  margin-top: 15px;
  cursor: auto;
  width: calc(144% - 10px);
}

#chatbox {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  font-size: 25px;
  display: flex;
}

#send_button {
  margin-right: 5px;
  margin-bottom: 7px;
  /* float: right; */
  /* order: 2; */
}

#message {
  border-radius: 20px;
  font-size: 16px;
  flex: 1;
  /* order: 1; */
}

#messages {
  vertical-align: top;
  top: 86px;
  overflow: auto;
  font-size: 19px;
  margin: 10px 0 0 0;
  clear: both;
}

.myMessages {
  background-color: #ff9068;
  text-align: right;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
  padding: 3px 15px;
  border-radius: 20px;
  box-shadow: -1px 2px 1px #f94242;
}

.otherMessages {
  text-align: left;
  padding: 3px 15px;
  /* background-color: #fd746c; */
  background: linear-gradient(to left, #ff9068, #fd746c);
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  margin-left: 5px;
  color: black;
  /* border: 1px solid #850E33; */
  box-shadow: 1px 1px 1px #f94242;
}

.parent {
  width: 100%;
  height: 100%;
  /* background-color: grey; */
  clear: both;
}

.left {
  width: 70%;
  float: left;
}

.right {
  margin-top: 59px;
  float: right;
  width: 30%;
  height: 88%;
  background: darksalmon;
  /* background: #fd746c;
  background: -webkit-linear-gradient(to left, #fd746c, #ff9068);
  background: linear-gradient(to left, #fd746c, #ff9068); */
  border-radius: 20px;
  box-shadow: -2px 4px 8px #f94242;
  overflow: auto;
}

.buttons {
  background-color: #850E33;
  color: white;
  border: 2px;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 2px 4px 4px #f94242;
}

/* .buttons:disabled,
.buttons[disabled] {
  background-color: #ff9068;
  color: black;
} */
.buttons_disable {
  background-color: #ff9068;
  color: black;
  border: 2px;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 2px 4px 4px #f94242;
}

#screen_button {
  display: none;
}

#audio_button {
  display: none;
}

#video_button {
  display: none;
}

#close_button {
  display: none;
}

#answer_button {
  display: none;
}

#hangup_button {
  display: none;
}

#mouse {
  position: relative;
  top: 200px;
  left: 500px;
}

#start_button {
  display: none;
}

#stop_button {
  display: none;
}