@font-face {
  font-family: 'MaaxMono-Regular';
  src: url('fonts/MaaxMono-Regular.eot');
  src: url('fonts/MaaxMono-Regular.ttf');
  format('truetype');
}

@font-face {
  font-family: 'barcade-brawl';
  src: url('fonts/barcade-brawl.eot');
  src: url('fonts/barcade-brawl.ttf');
  format('truetype');
}

/* maybe??? not retro but still cool font
@font-face {
  font-family:'SharpGroteskBold21';
  src: url('fonts/SharpGroteskBold21.eot');
  src: url('fonts/SharpGroteskBold21.ttf');
  format('truetype');
}
*/
body {
  cursor: url("assets/blue_8bit_cursor.svg"), default;
}

body {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#chatHolder {
  border: solid 4.1px black;
  width: 90%;
  height: 90%;
  position: relative;
  overflow: hidden;
}

#username {
  font-size: 9pt;
  font-family: 'MaaxMono-Regular';
  /* padding-top: 0.75%; */
  color: #6BFFFB;
  background-color: black;
  width: 100%;
  height: 5%;
  float: top;
  top: 0px;
  position: absolute;
  outline: solid 4px black;
  border: none;
  padding: none;
  box-sizing: border-box;
  text-align: left;
  margin: auto;
  border-radius: 0;
  padding-left: 5%;
}

#inputText {
  position: absolute;
  bottom: 0;
  float: bottom;
  width: 100%;
  height: 18%;
  color: black;
  padding-left: 5%;
  font-size: 10pt;
  font-family: 'MaaxMono-Regular';
  background-color: #6BFFFB;
  outline: solid 4px black;
  border: none;
  padding: none;
  box-sizing: border-box;
  border-radius: 0;
  visibility: hidden;
  /*position: fixed;
  /* bottom: 0px;
  left: 0px; */
  /* width: 100vw; */
  /* cursor: url("assets/blue_8bit_type.png"); */
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  border: none;
  -moz-box-shadow: inset 0 0 15px darkslategray;
  -webkit-box-shadow: inset 0 0 15px darkslategray;
  box-shadow: inset 0 0 15px darkslategray;
  outline: solid 1px black;
}

#inputText::placeholder {
  color: black;
  font-size: 10pt;
  font-family: 'MaaxMono-Regular';
}

/* #input:hover{
  cursor: url("assets/black_8bit_type.png"), text;
} */
#username::placeholder {
  color: #6BFFFB;
  font-size: 9pt;
  font-family: 'MaaxMono-Regular';
}

/* #username:hover{
  cursor: url("assets/black_8bit_type.png"), text;
} */
p {
  font-family: sans-serif;
  font-size: 9pt;
  text-align: center;
  margin-top: 40vh;
}

p.fade {
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  opacity: 0;
}

#displayText {
  font-family: 'barcade-brawl';
  /*font-family:'SharpGroteskBold21'; */
  font-size: 3vw;
  letter-spacing: 0.5pt;
  line-height: 5vw;
  /*padding: 5%;*/
}

#displayTextHolder {
  margin: 0;
  position: absolute;
  top: 26%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*/////////////// GRADIENT GENERAL /////////////*/
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 87%
  }

  50% {
    background-position: 100% 14%
  }

  100% {
    background-position: 0% 87%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 87%
  }

  50% {
    background-position: 100% 14%
  }

  100% {
    background-position: 0% 87%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 87%
  }

  50% {
    background-position: 100% 14%
  }

  100% {
    background-position: 0% 87%
  }
}

/*/////////////// GRADIENT CONTAINER/////////////*/
.gradientContainer {
  width: calc(100vw);
  height: calc(100vh);
}

/*/////////////// GRADIENT CONTAINER/////////////*/
.gradientContainer {
  background: linear-gradient(60deg, #D8D8D8, #6BFFFB, #FFFDB7, #ADF0EB, #6BFFFB);
  background-size: 500% 500%;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  -o-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}

/*/////////////// CHOOSE FROM RANDOM ACCENT COLOR /////////////*/
/* Pink + Blue */
.pink {
  background: linear-gradient(60deg, #D8D8D8, #6BFFFB, #FFC7C1, #ADF0EB, #6BFFFB);
  background-size: 500% 500%;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  -o-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}

/*  Purple + Blue */
.purple {
  background: linear-gradient(60deg, #D8D8D8, #6BFFFB, #C790FB, #ADF0EB, #6BFFFB);
  background-size: 500% 500%;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  -o-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}

/* Yellow + Blue */
.yellow {
  background: linear-gradient(60deg, #D8D8D8, #6BFFFB, #FFFDB7, #ADF0EB, #6BFFFB);
  background-size: 500% 500%;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  -o-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}

/* Green + Blue */
.green {
  background: linear-gradient(60deg, #D8D8D8, #6BFFFB, #BBFFA1, #ADF0EB, #6BFFFB);
  background-size: 500% 500%;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  -o-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}

/* Orange + Blue */
.orange {
  background: linear-gradient(60deg, #D8D8D8, #6BFFFB, #FFB029, #ADF0EB, #6BFFFB);
  background-size: 500% 500%;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  -o-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}